body {
  background-color: #373b40;
  height: 2000px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 3.7rem;
  color: white;
}

h2 {
  font-weight: 800;
  font-size: 3rem;
  color: white;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  width: 80%;
  color: #585d65;
  margin: auto;
  height: 2px !important;
  margin-top: 2%;
}

.navbar-toggler {
  border-color: #00000000;
  padding: 25px;
  border-radius: 50px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler.collapsed {}

/* .navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.toggle-icon {
    display:none;
}*/

.nav-item {
  margin-left: 20px;
  font-weight: 600;
  font-size: .80rem;
}

.container-nav {
  background-color: #585d65;
  border-radius: 80px;
  left: 4%;
  right: 4%;
  top: 4%;
  padding: 10px 0 10px 40px;
}

.logo-lnk {
  display: flex;
  align-items: center;
  font-weight: 800;
  line-height: 1.1;
  color: #fff;
}

.logo-lnk img {
  margin-right: 25px;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.1rem;
  color: white;
  line-height: 1.1;
  margin-left: 0.1%;
}

@media only screen and (max-width: 768px) {
  .row {
    margin: 0;
  }

  .container-nav {
    /* background-color: #00000000; */
    border-radius: 60px;
    padding: 10px;
    text-align: center;
  }

  .nav-item {
    font-weight: 800;
    font-size: 1.1rem;
  }

  .container-home {
    text-align: center;
  }

  .title {
    background-color: #373b40;
    margin-left: 20% !important;
    margin-top: -100px !important;
    border-top-left-radius: 180px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 180px;
    width: 60%;
  }

  .title h1 {
    font-size: 2rem;
  }

  .about-me {
    padding-left: 20px !important;
  }
}

.download-button {
  border-color: white;
  border-radius: 80px;
  padding: 20px 40px;
  color: white;
  font-weight: 500;
  margin-left: 20px;
  font-size: .75rem;
}

.download-button:hover {
  background-color: #373b40;
  border-color: #373b40;
}

.container-home {
  padding: 0;
}

.container-image {
  padding: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, #373b40 90%);
}

.container-image img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.container-intro {
  padding: 0;
}

.title {
  margin-top: 130px;
  background-color: #373b40;
  border-top-left-radius: 280px;
  border-bottom-left-radius: 280px;
  padding: 50px;
  margin-left: -150px;
}

.about-me {
  padding-left: 50px;
  padding-right: 20px;
}

.designation h3 {
  color: #68e0cf;
  font-size: 1rem;
  font-weight: 600;
}

.summary p {
  color: white;
  line-height: 2;
  font-weight: 400;
  font-size: .90rem;
}

.contact-me {
  margin-top: 20px;
}

.contact-button {
  border-color: white;
  border-radius: 80px;
  padding: 20px 30px;
  color: white;
  font-weight: 500;
  font-size: .75rem;
}

.contact-button:hover {
  background-color: #585d65;
  border-color: white;
}

/*                    Experiences                   */

#experience {
  padding: 2% 15%;
}

.experience-title {
  text-align: center;
  padding-bottom: 1%;
}
